:root{
    --text-shadow-color: #000000;
    --home-link-color: #ff8c00;
    --fish-header-color: #ffb6c1;
    --footer-text-shadow-color: #ff4500;
    --home-link-hover-color: #ffff00;
    --fish-font-color: #008000;
    --fish-text-bg-color: #00ced1;
    --fish-bg-color: #4169e1;
}
#fishing_webpage{
    background-color: var(--fish-bg-color);
}
#fishing_title{
    font-family: "Knewave", fantasy;
    font-size: 60px;
    color: var(--fish-header-color);
    text-shadow: 2px 2px var(--text-shadow-color);
    margin-left: 15px;
}
#main_survivor_fishing_image{
    margin-left: 100px;
}
#fishing_description, #fishing_gear_list, #spear_fishing_manual, #fish_trap_manual, #cast_net_manual,
#seine_net_manual{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fish-font-color);
    background-color: var(--fish-text-bg-color);
    border: 40px solid var(--fish-bg-color);
    padding: 10px;
}
#fishing_navigation_link{
    font-family: "Knewave", sans-serif;
    font-size: 30px;
    color: var(--fish-font-color);
}
#fishing_navigation_link:hover{
    color: var(--fish-header-color);
}
#fishing_navigation_link:visited{
    color: var(--fish-font-color);
}
#home{
    position: initial;
    left: 100px;
    top: 150;
    font-family: "Knewave", monospace;
    color: var(--home-link-color);
    font-size: 30pt;
}
#home:hover{
    color: var(--home-link-hover-color);
}
.survivor_footer{
    background-image: url("bamboo_background.jpeg");
    color: var(--home-link-hover-color);
    text-shadow: 1px 1px var(--footer-text-shadow-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
}
.copyright_link, .storage_link{
    color: var(--home-link-hover-color);
}
.copyright_link:hover, .storage_link:hover{
    color: var(--home-link-color);
}
@media (max-width: 800px){
    #main_survivor_fishing_image{
        margin-left: 50px;
        width: 600px;
        height: 600px;
    }
    #fishing_description, #fishing_gear_list, #spear_fishing_manual, #fish_trap_manual, #cast_net_manual,
    #seine_net_manual{
        margin-right: 20px;
    }
    .survivor_footer{
        width: 95%;
        margin-left: 10px;
    }
}
@media (max-width: 500px){
    #fishing_title{
        font-size: 45px;
        margin-left: 20px;
    }
    #main_survivor_fishing_image{
        margin-left: 0px;
        width: 380px;
        height: 380px;
    }
    #fishing_description, #fishing_gear_list, #spear_fishing_manual, #fish_trap_manual, #cast_net_manual,
    #seine_net_manual{
        margin-left: 15px;
        margin-right: 0px;
    }
    .survivor_footer{
        width: 100%;
        padding: 20px;
    }
}